*.pyc
*.pyo
*.sh
*.so
*.fif
*.tar.gz
*.log
*.stc
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.fif.gz
*.nii.gz
*.tar.*
*.egg*
*.tmproj
*.png
*.dat
*.tri
*.geom
*.cond
.DS_Store
build
coverage
.cache/
.pytest_cache/

dist/
doc/_build/
doc/generated/
doc/auto_examples/
doc/auto_tutorials/
doc/modules/generated/
doc/sphinxext/cachedir
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
cover
examples/visualization/foobar.html

*.orig

# PyCharm
.idea/**

# sublime
*-e

# Visual Studio Code
.vscode

# Emacs
*.py#
*.rst#

